@import url(./fonts.css);
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color : #204977;
    --secondary-color : #296FA5;
    --tertiary-color : #F0FCFF;
    --gradient : linear-gradient(180deg, #237D96 -29.21%, #5099AD -21.24%, #88BCCA -9.97%, #B5D7E1 0.48%, #D5EBF1 9.75%, #E9F8FB 17.5%, #F0FCFF 22.8%);
    --heading : 3rem;
    --subHeading : 2.7rem;
    --title : 2.1rem;
    --paragraph : 1.56rem;
    --nav : 1.25rem;
}

::-webkit-scrollbar{
    display: none;
}