@import url(./fonts.css);
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color : #204977;
    --secondary-color : #296FA5;
    --tertiary-color : #F0FCFF;
    --gradient : linear-gradient(180deg, #237D96 -29.21%, #5099AD -21.24%, #88BCCA -9.97%, #B5D7E1 0.48%, #D5EBF1 9.75%, #E9F8FB 17.5%, #F0FCFF 22.8%);
    --heading : 3rem;
    --subHeading : 2.7rem;
    --title : 2.1rem;
    --paragraph : 1.56rem;
    --nav : 1.25rem;
}

::-webkit-scrollbar{
    display: none;
}
img.logo{
    height: 6.25rem;
    width: auto;
}
nav,footer{
    padding: 2rem 3rem;
}
.section{
    margin: auto;
    padding: 6.5rem 0 0;
}
.section .heading{
    font-size: var(--subHeading);
    color: var(--primary-color);
    font-family: 'KG Cold Coffee';
}
.section-body{
    padding: 4.5rem 0 0 0;
}
.button{
    outline: none;
    border: none;
    background: linear-gradient(92.33deg, #123D6E 5.25%, #2970A7 99.05%);;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'Lato';
    font-size: 0.75rem;
    font-weight: 800;
}
header{
    background-image: var(--gradient);
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--secondary-color);
}
input{
    outline: none;
    border: none;
    text-align: center;
}
.header-body{
    padding: 3rem 4rem 0 4rem;
}
.box{
    border-radius: 1.7rem 1.7rem 0 0;
    border: .5rem solid #fff;
    border-bottom: none;
    padding : 1rem 2rem 14rem  2rem;
}
.header-image{
    width : 100%;
    margin: -9rem 0 0 0;  
}
.hero{
    height: 14rem;
    width: 100%;
    padding: auto;
}
.nav-item{
    font-size: var(--nav);
    color: var(--primary-color);
    font-family: 'Kiwi Medium';
}
.header-body .heading{
    font-size: var(--heading);
    font-family: 'KG Cold Coffee';
    color: var(--primary-color);
    padding: 1rem 0 1.5rem 0;
}
.header-body .paragraph{
    font-size: var(--paragraph);
    font-family: 'Lato';
    color: #5E93BB;
    padding: 0 0 1.5rem 0;
}
.date-box{
    height: 4rem;
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 0;
}
.input-container{
    text-align: center;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container:nth-child(1),.input-container:nth-child(2){
    border-right: solid 0.38px var(--secondary-color);
}
.icon-card{
    display: flex;
    align-items: center;
}
.icon-card .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    width: 13vw;
    height: 13vw; 
}
.icon-card .icon img{
    width: 8vw;
    height: 8vw;
}
.card-body{
    padding: 0 0 0 2.2rem;
}
.card-title{
    font-size: var(--title);
    font-family: 'Kiwi Medium';
    font-weight: 500;
    padding: 0 0 1rem 0;
    color: var(--secondary-color);
}
.card-content{
    font-size: var(--paragraph);
    font-family: 'Lato';
    font-weight: 600;
    color: #296FA5;
}
.section-body .row{
    margin: 0 0 4rem 0;
}
.section .paragraph{
    font-family: 'Kiwi Regular';
    font-size: var(--subHeading);
    /* color: var(--secondary-color); */
    color: #5E93BB;
    margin: 0 2rem 0 0;
}
